<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" >
        {% csrf_token %}

        <label for="evento">Evento:</label><br>
        <input type="text" name="evento" id="evento" required><br><br>

        <label for="local">Local:</label><br>
        <input type="text" name="local" id="local" required><br><br>

        <button type="submit">Confirmar Cadastro</button>
    </form>
</body>
</html>